# Database
DATABASE_URL="sqlite:///./aishorts.db"

# Configurazioni
GPU_CONFIG_PATH="configs/gpu.yaml"
MODELS_CONFIG_PATH="configs/models.yaml"
PATHS_CONFIG_PATH="configs/paths.yaml"

# LLM Configuration
# Scegli il provider: "openai" o "ollama"
LLM_PROVIDER="ollama"

# Configurazione OpenAI (usata se LLM_PROVIDER="openai")
OPENAI_API_KEY="your_openai_api_key"
OPENAI_MODEL_NAME="gpt-3.5-turbo"

# Configurazione Ollama (usata se LLM_PROVIDER="ollama")
OLLAMA_API_BASE="http://localhost:11434"
OLLAMA_MODEL_NAME="llama3"
