fastapi
uvicorn
sqlalchemy
pyyaml
torch
torchvision
torchaudio
python-dotenv
openai
imageio
librosa
scipy
transformers
diffusers
kokoro
spacy
huggingface_hub
numpy<2.5
sentencepiece
tiktoken
psutil
bitsandbytes
accelerate
realesrgan
basicsr
facexlib
gfpgan
opencv-python
gguf
imageio[ffmpeg]
imageio-ffmpeg