fastapi
uvicorn
sqlalchemy
pyyaml
torch
torchvision
torchaudio
python-dotenv
openai
imageio
librosa
scipy
transformers
git+https://github.com/huggingface/diffusers.git
kokoro
spacy
huggingface_hub
numpy<2.1,>=1.21
sentencepiece
tiktoken
psutil
bitsandbytes
accelerate
realesrgan
basicsr
facexlib
gfpgan
opencv-python
gguf
imageio[ffmpeg]
imageio-ffmpeg
optimum-quanto
pillow<12.0
